+reset

html
  box-sizing: border-box
  font-family: "Yandex Sans Display", sans-serif
  font-weight: normal
  font-size: 20px
  +xs-block
    font-size: 16px

*, *::before, *::after
  box-sizing: inherit

body
  color: $text_dark
  position: relative

a
  text-decoration: none
  color: inherit

.wrapper
  max-width: 1300px
  margin: 0 auto
  padding: 0 20px

.title
  font-size: 1.5rem
  font-weight: bold

.debugGrid
  +debug(rgba(201, 159, 160, 0.4), 1px solid #f0f)