/* yandex sans display - regular */
@font-face 
  font-family: 'Yandex Sans Display'
  src: url('../fonts/YandexSansDisplay-Regular.eot')
  src: local('Yandex Sans Display Regular'), local('YandexSansDisplay-Regular'), url('../fonts/YandexSansDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/YandexSansDisplay-Regular.woff2') format('woff2'), url('../fonts/YandexSansDisplay-Regular.woff') format('woff'), url('../fonts/YandexSansDisplay-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


/* yandex sans display - bold */
@font-face
  font-family: 'Yandex Sans Display'
  src: url('../fonts/YandexSansDisplay-Bold.eot')
  src: local('Yandex Sans Display Bold'), local('YandexSansDisplay-Bold'), url('../fonts/YandexSansDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/YandexSansDisplay-Bold.woff2') format('woff2'), url('../fonts/YandexSansDisplay-Bold.woff') format('woff'), url('../fonts/YandexSansDisplay-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
