extends layouts/main

//- инклюд всех блоков, используемых в проекте
include blocks/button/button
//- include blocks/scrollbar/scrollbar

//- Название страницы
block pageTitle
	-var pageTitle = 'Яндекс такси'

block vars

block header
	include sections/header

block content
	include sections/banner
	include sections/start
	include sections/work
	include sections/white-block
	include sections/app
	include sections/contact
	include sections/request
	include sections/avto

block footer
	include sections/footer