.btn
  display: block
  color: $text_dark
  font-size: 0.9rem
  text-align: center
  background-color: $yellow
  padding: 12px
  transition: all .3s
  border-radius: 4px

  &:hover
    background-color: darken($yellow, 10)