section#app
    .wrapper
        h3.title Мобильное приложение
        .app-text Мы разработали мобильное приложение для того, чтобы вам было удобно!
        a.google-play(href='#')
            img(src='./img/google-play.png' alt='Google Play')