section.banner
    h1 Яндекс Такси в Омске
    .wrapper
        .banner__text
            h2.banner__title Зарабатывайте #[br] от 50 000#[span р] в месяц
            p.banner__description.
                Подключение за 5 минут #[br]
                Работайте тогда, когда удобно #[br]
                Крупнейший автопарк в г.Омске #[br]
            +button('#request', 'Заполнить анкету')