section#contact
    .wrapper
        h3.title Контакты
        .flex-cont
            .messengers.cont
                .whatsapp
                    .descr #[img(src="./img/icon/whatsapp-icon.png" alt="") ] Написать в What`s App
                    .phone-num #[span тел.:] 8 (3812) 49-46-45
                .viber
                    .descr #[img(src="./img/icon/viber-icon.png" alt="") ] Написать в Viber
                    .phone-num #[span тел.:] 8 (903) 00-00-00
            .adresses.cont
                .email #[span Email:] info@taxi.ru
                .ofice #[span Офис:]  г.Омск, ул.Дмитриева 15/1 #[br] #[a(href='#') Показать на карте]