-var menu = ['Начало работы', 'Преимущества работы', 'Приложение','Контакты']
-var link = ['#start', '#work', '#app', '#contact']

footer.footer
    .wrapper
        .right
            p Официальный партнер Яндекс Такси #[br] г.Омск
            p ОГРНИП 12345432112344
        nav.nav
            each item, key in menu
                a.nav__link(href=link[key])
                    span= item
        .left
            a(href='#') Политика конфеденциальности