-var menu = ['Начало работы', 'Преимущества работы', 'Приложение','Контакты']
-var link = ['#start', '#work', '#app', '#contact']

input#mobile-menu(type='checkbox')
header.header
    .wrapper
        .right
            a.logo(href='#')
                img(src="./img/logo.svg" alt='Яндекс Такси')
            span Официальный партнер #[br] г.Омск
        nav.nav
            each item, key in menu
                a.nav__link(href=link[key])
                    span= item
        .phone
            span.number 8 (3812) 49-46-45
            a.call(href='#request') заказать звонок
        label.menu-btn(for='mobile-menu')
            span