section#request
    .wrapper
        h3.title Оставить заявку
        form.form(action='#')
            .input
                label.label-text ФИО
                input.user-input(type='text' name='userName')
                .error-name Введите ФИО
            .input
                label.label-text Телефон
                input.user-input(type='tel' name='userPhonee')
                .error-phone Введите корректный номер телефона
            .action
                button.btn(type='submit') Отправить
                span.policy Нажимая кнопку, вы соглашаетесь с #[a(href='#') политикой конфиденциальности]