section#start
    .wrapper
        h3.title Начало работы
        ul.list
            li
                p.list__title #[span 1. ] #[a(href='#request') Оставьте заявку] на сайте
                p.list__description мы свяжемся с вами для уточнения деталей
            li
                p.list__title #[span 2. ] #[a(href='#app') Скачайте] приложение
                p.list__description для удобного вывода средств

            li
                p.list__title #[span 3. ] Выходите на линию
                p.list__description чтобы получить первые заказы
            li
                p.list__title #[span 4. ] Начните зарабатывать
                p.list__description работайте тогда, когда вам удобно


