section#work
    .wrapper
        h3.title Работа в удовольствие
        ul.work-list
            li.item.item--1
                p.item-title Удобный график
                p.item-description Работа по несколько часов в неделю или каждый день - вы сами выбираете свой график
            li.item.item--2
                p.item-title Деньги - сразу
                p.item-description Выводите деньги с помощью удобного мобильного приложения
            li.item.item--3
                p.item-title Партнерская программа
                p.item-description Скидка 20% на ремонт и сервисное обслуживание для водителей парка