#app
  background: url('../img/app-bg.jpg') $grey no-repeat center
  background-size: cover
  padding: 146px 0 100px
  +md-block
    background-image: none
    padding: 71px 0 38px
  +xxs-block
    padding: 20px 0

  .title
    margin-bottom: 28px

  .app-text
    width: 45%
    font-size: 0.8rem
    margin-bottom: 55px
    padding-right: 130px
    +md-block
      width: 100%
      padding-right: 10px
    +xs-block
      margin-bottom: 30px