.avto
  background-color: $yellow
  padding: 48px 0

  .wrapper
    text-align: center

  .title
    +sm-block
      display: block

.company-avto
  font-size: 1.5rem
  padding-left: 20px
  padding-right: 45px
  position: relative
  +sm-block
    padding-left: 0
  +xxs-block
    padding: 0


  &::after
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 18px
    height: 37px
    background: url("../img/icon/arrow.svg") no-repeat center
    transition: all .3s
    +xxs-block
      display: none
      
  &:hover
    text-decoration: underline

    &::after
      transform: scaleX(1.5)