h1
  display: none

.banner
  padding-top: 67px
  background: url('../img/banner.jpg') $grey no-repeat center top
  background-size: cover
  +md-block
    background-image: none

  &__text
    width: 45%
    padding: 115px 0
    +md-block
      width: 100%
      text-align: center

  &__title
    font-size: 2rem
    font-weight: bold
    line-height: 1.22
    margin-bottom: 30px

    span
      font-size: 1.2rem

  &__description
    font-size: 0.9rem
    line-height: 1.6
    margin-bottom: 42px

  .btn
    width: 267px
    +md-block
      margin: 0 auto