#contact
  background-color: $white
  padding: 80px 0 100px
  +xs-block
    padding: 40px 0

  span
    color: $text_grey
    font-size: 0.7rem

  .title
    margin-bottom: 50px

.flex-cont
  display: flex
  flex-wrap: wrap
  font-size: 0.8rem
  margin: 0 57px
  align-items: flex-start


.cont
  width: 50%
  &>div
    margin-bottom: 33px
    +sm-block
      margin-bottom: 10px

.messengers
  display: flex
  flex-wrap: wrap
  flex-direction: column
  justify-content: flex-start
  +md-block
    width: 70%
  +sm-block
    width: 100%
    margin-bottom: 30px

.whatsapp, .viber
  display: flex
  align-items: flex-start
  height: 20px
  +sm-block
    text-align: center
  +xxs-block
    flex-direction: column
    height: 30px
  &>div
    width: 50%
    +xxs-block
      width: 100%

  .descr
    img
      vertical-align: bottom
      margin-right: 7px

.adresses
  +md-block
    width: 30%
  +sm-block
    width: 100%
    text-align: center
.ofice
  a
    color: $text_grey
    font-size: 0.6rem
    text-decoration: underline
    margin-left: 45px
    &:hover
      color: $text_dark

