.footer
  font-size: 0.75rem
  background-color: #000000
  color: $text_light
  padding: 30px 0

  .wrapper
    display: flex
    justify-content: space-between
    align-items: center

  .right
    p
      margin-bottom: 10px

  .left
    +xs-block
      text-align: right
    a
      &:hover
        color: $text_grey
        text-decoration: underline

  .nav
    font-size: 0.75rem
    display: flex
    justify-content: space-between
    +md-block
      display: none

    &__link
      padding: 0 10px
      color: $text_grey

      &:hover
        color: $text_light