%burger
  position: absolute
  width: 100%
  height: 2px
  background-color: $text_dark
  left: 0
  top: 50%

input#mobile-menu
  display: none

.header
  position: fixed
  background-color: $white
  width: 100%
  z-index: 100
  padding: 19px 0
  border-bottom: 1px solid $grey

  .wrapper
    display: flex
    justify-content: space-between
    align-items: center

  .right
    font-size: 0.7rem
    color: $text_grey
    line-height: 1.07
    display: flex
    align-items: center

    span
      padding-left: 23px

  .nav
    font-size: 0.75rem
    display: flex
    justify-content: space-between
    +md-block
      background-color: $white
      position: absolute
      top: calc(100% + 1px)
      font-size: 1rem
      right: 0
      flex-direction: column
      width: 0
      transition: all .3s

    &__link
      padding: 0 10px
      color: $text_grey
      +md-block
        padding: 5px
        border-bottom: 1px solid $grey

      &:hover
        color: $text_dark

      + .active
        color: $text_dark

  .phone
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    +md-block
      flex-grow: 1
      align-items: flex-end
      padding-right: 20px

  .number
    font-weight: bold
    font-size: 0.8rem

  .call
    font-size: 0.55rem
    color: $text_grey
    text-decoration: underline

    &:hover
      color: $text_dark

  .menu-btn
    display: none
    position: relative
    +md-block
      display: block
    width: 25px
    height: 25px
    span
      @extend %burger
      top: 50%

    &::before
      content: ''
      @extend %burger
      transform: translateY(-7px)

    &::after
      content: ''
      @extend %burger
      transform: translateY(7px)

input#mobile-menu:checked
  ~ .header .nav
    width: 100%
    text-align: right

  ~ .header .menu-btn
    span
      display: none
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)