#request
  background: url("../img/request-bg.jpg") $grey no-repeat center
  background-size: cover
  padding: 62px 0 72px
  +md-block
    background-image: none
  +xs-block
    padding: 40px 0

  .title
    margin-bottom: 55px

.form
  width: 380px
  +md-block
    margin: 0 auto
  +xxs-block
    width: 300px

  .input
    margin-bottom: 18px
    position: relative

  .label-text
    display: block
    font-size: 0.7rem
    margin-bottom: 8px

  .user-input
    width: 100%
    height: 45px
    padding: 10px
    border: 0.3px solid #898989
    background-color: $white
    border-radius: 4px

    &:focus
      outline: none

  .action
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 43px

    .btn
      border: none
      width: 75%
      cursor: pointer

    .policy
      font-size: 0.6rem
      color: $text_grey
      line-height: 1.07
      padding-left: 27px

      a
        text-decoration: underline

.error-name, .error-phone
  opacity: 0
  position: absolute
  left: 0
  top: calc(100% + 5px)
  background-color: $white
  padding: 5px
  font-size: 0.6rem
  border-radius: 4px
  color: red
  transition: opacity .3s
  z-index: 10