#start
  padding: 159px 0 172px
  background-color: $white
  +md-block
    padding: 80px 0
  +xs-block
    padding: 40px 0

  .title
    margin-bottom: 54px
    +xs-block
      margin-bottom: 24px

  .list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    li
      width: 23%
      +md-block
        width: 45%
        margin-bottom: 40px
      +xs-block
        width: 100%
        margin-bottom: 20px

    &__title
      font-weight: bold
      font-size: 0.9rem
      line-height: 33px

      span
        background-color: $yellow
        padding: 5px 0

      a
        text-decoration: underline

    &__description
      margin-top: 26px
      font-size: 0.8rem
      line-height: 1.07
      +md-block
        margin-top: 10px