#work
  background: url('../img/work-bg.jpg') #000000 no-repeat center top
  background-size: cover
  padding: 65px 0 82px
  color: $text_light
  +md-block
    background-image: none
  +xxs-block
    padding: 20px 0

  .title
    margin-bottom: 73px
    +xs-block
      margin-bottom: 35px

.work-list
  width: 45%
  +md-block
    width: 100%
  .item
    position: relative
    margin-left: 72px
    margin-right: 130px
    margin-bottom: 57px
    +sm-block
      margin-right: 0
    +xs-block
      margin-bottom: 30px

    &-title
      font-size: 0.9rem
      line-height: 1.07
      padding-bottom: 5px
    &-description
      font-size: 0.8rem
      line-height: 1.15

    &::before
      content: ''
      position: absolute
      width: 20px
      height: 20px
      top: 0
      left: -45px

    &--1
      &::before
        background: url('../img/icon/calendar-icon.svg') no-repeat center

    &--2
      &::before
        background: url('../img/icon/wallet-icon.svg') no-repeat center

    &--3
      &::before
        background: url('../img/icon/tool-icon.svg') no-repeat center
